@page
@model TTG.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Generate Timetable";
}

<a asp-page="Create">Create New</a>
<a asp-page="GenerateTimetable" class="pl-3">Generate Timetable</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainTrips[0].TrainCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainTrips[0].DepartureStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainTrips[0].ArrivalStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainTrips[0].DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainTrips[0].ArrivalTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TrainTrips)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

